body {
    font-family: 'Baloo 2', arial;
}

#display {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

.form-check-label {
    color: white;
}

svg {
    color: red;
}

footer {
    width: 100%;
    background-color: rgb(102 97 98);
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.spinner-border {
    display: none;
}

#error {
    min-height: 15vh;
    color: red;
    font-size: 15px;
}
