body {
    font-family: 'Baloo 2', cursive;
}

#display {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

.form-check-label {
    color: white;
}

svg {
    color: red;
}

footer {
    width: 100%;
    background-color: rgb(102 97 98);
    padding: 10px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

.spinner-border {
    display: none;
}